@import '../../../variables';
@import '../../../styles';

@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');


button {
  @extend .p;
  font-weight: bold;
  background-color: transparent;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;

  margin: 20px;
}