@import '../../../mixins';
@import '../../../variables';
@import '../../../styles';

.product-card-1 {
  width: 281px;

  height: 287px;
  background: url('../../../assets/background-card.svg') no-repeat;
  margin: 0 auto;
}

.img-container {
  display: flex;
  justify-content: center;
}

.product-card-img {
  margin-top: 12px;
  width: 258px;
  height: 142px;
  overflow: hidden;
  border-radius: 12px;

  img {
    width: 100%;
    object-fit: cover;
  }


}

.product-name {
  @extend .mdm;
  display: inline-block;
  margin: 12px;
}

.product-price {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  bottom: -1.3rem;
}

.price {
  @extend .h3;
  margin-left: 20px;
  font-size: 16px
}

.btn-card {
  @include button-base($red, $red-hover, 10px);
  @include auto-size;
  margin-right: 8px;
  margin-top: 6px;
  border: transparent;
}
