<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lista Productos</title>
</head>

<body>
	<div>
		<br>
		<h2>Lista pedidos</h2>
        <h2 th:if="${listaPedidosDTO.isEmpty()}">No hay pedidos todavía</h2>
		<table border="1">
			<thead>
				<tr>
					<td>id Pedido</td>
					<td>id Cliente</td>
                    <td>id Pago</td>
					<td>id Punto de recogida</td>
					<td>Fecha Pedido</td>
                    <td>Fecha Compra</td>
                    <td>Fecha Entrega</td>
                    <td>Fecha Máxima para recoger</td>
                    <td>Fecha Factura</td>
                    <td>Nº Factura</td>
                    <td>Recogido</td>
                    <td>Importe</td>

                    <td>Ver pedido</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pedidoDTO : ${listaPedidosDTO}">
					
					<td th:text="${pedidoDTO.id}"></td>
                    <td th:text="${pedidoDTO.idCliente}"></td>
                    <td th:text="${pedidoDTO.idPago}"></td>
                    <td th:text="${pedidoDTO.idPR}"></td>
                    <td th:text="${pedidoDTO.fechaPedido}"></td>
                    <td th:text="${pedidoDTO.fechaCompra}"></td>
                    <td th:text="${pedidoDTO.fechaEntrega}"></td>
					<td th:text="${pedidoDTO.fechaMaxRecogida}"></td>
                    <td th:text="${pedidoDTO.fechaFactura}"></td>
                    <td th:text="${pedidoDTO.numFactura}"></td>
                    <td th:text="${pedidoDTO.recogido}"></td>
                    <td th:text="${pedidoDTO.importe}"></td>

                    <td><a th:href="@{/pedidos/{idPedido}(idPedido=${pedidoDTO.id})}">Ver pedido</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<div>
		<a th:href="@{/}">Volver al inicio</a>
	</div>
</body>

</html>