<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${add} ? 'Nuevo producto' : 'Actualizar producto'"></title>
</head>
<body>
	<h1 th:text="${add} ? 'Nuevo producto' : 'Actualizar producto'" />
	<br>
	<br>
	<form th:action="@{/productos/save}" th:object="${productoDTO}"
		method="POST">
		<table border="0">
			<tr th:if="${productoDTO.id}">
				<td>id</td>
				<td>:</td>
				<td> <input type="text" th:field="*{id}" readonly/> </td>
			</tr>
			<tr>
				<td>Nombre</td>
				<td>:</td>
				<td> <input type="text" th:field="*{nombre}" /> </td>
			</tr>
			
		</table>
		<input type="submit" th:value="${add} ? 'Nuevo' : 'Actualizar'" />		
	</form>
	<br>
	<a th:href="@{/productos}">Volver a la lista de productos</a>
</body>
</html>