@import '../../../variables';

.cesta {
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-height: 772px;
  gap: 1rem;
  margin: 0 auto;
  max-width: 1440px;
  padding: 1rem;
  margin-bottom: 5rem;

  app-cesta-list {
    max-height: 100%;
    overflow: auto;
    scrollbar-color: $red transparent;

  }
}