<div id="main">
  <div id="banner">
    <div>
      <h1>Todas las compras del barrio en un click</h1>
      <p>Si no puedes ir al mercado, ahora el mercado llega a ti.</p>
    </div>
    <div>
      <img src="../../../assets/productos.svg" alt="" />
    </div>
  </div>
  <div id="buscador">
    <h1>¿Qué mercado quieres visitar?</h1>

    <input type="text" placeholder="Escribe el nombre de un mercado" />
  </div>
  <div id="etiquetas">
    <img src="../../../assets/etiquetas.svg" alt="etiquetas" />
    <h1>Echa un vistazo a nuestra lista de mercados y visítalos ;)</h1>
  </div>
  <div id="vista-mercados">
    @for (mercado of mercados; track mercado.id) {
    <app-card-market
      nombre="{{ mercado.nombre }}"
      cp="{{ mercado.direccion.cp }}"
    ></app-card-market>
    }
  </div>
</div>
