<div class="linea-pedido">
  <div class="info-linea-pedido">
    <div class="img-container">
      <img [src]="imagenUrl" alt="{{ lineaPedido?.venta?.producto?.nombre }}" />
    </div>
    <div class="info-producto">
      <p class="nombre-producto">{{ lineaPedido?.venta?.producto?.nombre }}</p>
      <div class="div-cantidad">
        <p>Cantidad X {{ lineaPedido?.cantidad }}</p>
        <p>{{ formatNumber(lineaPedido?.venta?.precioVenta ?? 0)}} &euro;</p>
      </div>
      <button class="review-btn auto-size">
        <img src="../../../assets/icons/reviews.svg" alt="" /> Escribir una
        reseña
      </button>
    </div>
  </div>
</div>