<div class="cesta-item">
  <div class="product-details">

    <div class="cesta-item_img">
      <img src="assets/image.png" alt="cesta-item" />
    </div>
    <div class="info">
      <p class="mdm">Pimiento rojo</p>
      <p class="mdm">1,00 €</p>
    </div>
  </div>
  <div class="quantity">
    <p class="p">Cantidad</p>
    <button class="invisible-btn">
      <img src="assets/icons/minus.svg" alt="restar">
    </button>
    <p class="mdm">1</p>
    <button class="invisible-btn">
      <img src="assets/icons/plus.svg" alt="sumar">
    </button>
  </div>
  <button class="sqr-btn auto-size">
    <img src="assets/icons/trash.svg" alt="borrar">
  </button>


</div>