<div class="tienda-card">
  <div class="img-container">
    <div class="tienda-card-img" [style.background-image]="'url(' + imagenUrl + ')'"></div>
  </div>

  <span class="name">{{tienda?.nombre}}</span>
  <div class="bottom">

    <div class="categories">


      <div class="etiqueta-estado yellow" *ngFor="let categoria of tienda?.categoriaT">
        <img src="assets/icons/categories/Aves Derivados.svg" alt="">
      </div>

    </div>
    <button class="btn-card">
      <span class="">Ver Productos</span>
    </button>
  </div>
</div>