<div class="tienda-card">
  <div class="img-container">
    <div class="tienda-card-img" style="background-image: url(assets/market.png)"></div>
  </div>

  <span class="name">Paquito perez</span>
  <div class="bottom">

    <div class="categories">


      <div class="etiqueta-estado yellow">
        <img src="assets/icons/categories/Aves Derivados.svg" alt="">
      </div>
      <div class="etiqueta-estado yellow">
        <img src="assets/icons/categories/Aves Derivados.svg" alt="">
      </div>
    </div>
    <button class="btn-card">
      <span class="">Ver Productos</span>
    </button>
  </div>
</div>