<div class="tienda-card">
  <div class="img-container">
    <div class="tienda-card-img">
      <img [src]="imagenUrl" [alt]="tienda?.nombre">

    </div>
  </div>

  <span class="name">{{tienda?.nombre}}</span>
  <div class="bottom">

    <div class="categories">


      <div class="etiqueta-estado yellow" *ngFor="let categoria of tienda?.categoriaT">
        <img [src]="'assets/icons/categories/' + categoria?.icono" [alt]="categoria?.nombre">
      </div>

    </div>
    <button class="btn-card">
      <span class="">Ver productos</span>
    </button>
  </div>
</div>