
    <div class="container">
        <div class="banner">
            <img src="assets/banner.png" alt="Mercat Central de València">
        </div>
        <div class="content">
            <div class="left-section">
                <div class="h1">Mercat Central de València</div>
                <div class="etiqueta-estado green">
                    <span>Activo</span>
                </div>
            </div>
            <div class="right-section">
                <div class="info-item">
                    <div class="info-item-icon">
                      <img src="assets/icons/location_red.svg" alt="Ubicacion">
                    </div>
                    <span>Plaça Ciutat de Bruges s/n, 46001 Valencia</span>
                </div>
                <div class="info-item">
                    <div class="info-item-icon">
                      <img src="assets/icons/call.svg" alt="Phone">
                    </div>
                    <span>963 829 100</span>
                </div>
                <div class="info-item">
                    <div class="info-item-icon">
                      <img src="assets/icons/mail_red.svg" alt="Email">

                    </div>
                    <span>informacionmercadocentralvalencia.es</span>
                </div>
            </div>
        </div>
    </div>
