<app-back></app-back>
<div class="encabezado">
    <div class="div-encabezado">
        <p class="h1">Detalles del pedido #numPedido</p>
        <span class="etiqueta-estado-pendiente">Estado</span>
    </div>
    <button class="sqr-btn light rd-btn auto-size"><img src="../../../assets/icons/tab_close.svg" alt=""> Cancelar pedido</button>
</div>
<div class="info-pedido">
    <hr class="divider">
    <div class="detalles-pedido">
        <div class="info-precio">
            <p>Total importe:</p>
            <span class="precio">34.56 €</span>
        </div>

    </div>
</div>
