<div class="footer">
  <div class="columns">
    <div>
      <div class="section-title">Categorías</div>
      <div class="doble-column">
        <div class="column">
          <div>Carnicería</div>
          <div>Aves y derivados</div>
          <div>Fruta y verdura</div>
          <div>Charcutería y quesos</div>
          <div>Especias y herboristería</div>
          <div>Frutos secos</div>
          <div>Gourmet</div>
        </div>
        <div class="column">

          <div>Panadería y pastelería</div>
          <div>Para llevar</div>
          <div>Pescados y mariscos</div>
          <div>Productos internacionales</div>
          <div>Salazones y encurtidos</div>
          <div>Varios (no alimentación)</div>
        </div>
      </div>
    </div>
    <div>
      <div class="section-title">Información</div>
      <div class="column">
        <div>{{'información@terramarket.com'}}</div>
        <div>Privacidad</div>
        <div>Preguntas frecuentes</div>
        <div>Copyright © 2025 Terra Market</div>
        <div class="socials">
          <img src="assets/icons/social/instagram.svg" alt="Instagram">
          <img src="assets/icons/social/facebook.svg" alt="Facebook">
          <img src="assets/icons/social/twitter.svg" alt="Twitter">
          <img src="assets/icons/social/whatsapp.svg" alt="Whatsapp">

        </div>
      </div>
    </div>

    <div>
      <img src="assets/logo_dark.svg" alt="Terra Market">
      <div class="payments">
        <img src="assets/icons/payments/Visa.svg" alt="Visa">
        <img src="assets/icons/payments/Mastercard.svg" alt="Mastercard">
        <img src="assets/icons/payments/GooglePay.svg" alt="GooglePay">

      </div>
    </div>
  </div>
</div>
