<div class="container">
    
    <div class="info-precio">
        <p>Importe total de la cesta:</p>
        <span class="precio">34 &euro;</span>
    </div>
    <div class="info-fecha">
        <img src="/assets/icons/fechaPedido.svg" alt="">
        <div class="divDato">
            <p>Fecha para recoger el pedido:</p>
            <span class="detalle">14-05-25</span>
        </div>
    </div>
    <div class="info-fecha">
        <img src="/assets/icons/usuario.svg" alt="">
        <div class="divDato">
            <p>Pedido a nombre de :</p>
            <span class="detalle">Nombre Nombre Nombre</span>
        </div>
    </div>
    <div class="info-fecha">
        <img src="/assets/icons/metodoPago.svg" alt="">
        <div class="divDato">
            <p>Método de pago:</p>
            <span class="detalle">Tarjeta débito/crédito</span>
        </div>
    </div>
    <div class="info-fecha">
        <img src="../../../assets/icons/puntoRecogida.svg" alt="">
        <div class="divDato">
            <p>Punto de recogida:</p>
            <span class="detalle">Mercat central</span>
        </div>
    </div>
</div>