<div
    class="h-auto bg-red rounded-[20px] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] shadow-[inset_0px_0px_4px_0px_rgba(0,0,0,0.25)] justify-start items-center inline-flex flex-col md:flex-row">
    <div
        class="w-full md:w-[511px] h-auto md:h-[624px] px-[47px] py-[52px] rounded-[10px] flex-col justify-center items-center gap-[49px] inline-flex">
        <div class="w-[239px] h-20 relative overflow-hidden">
            <img src="assets/logo_light.png" alt="logo" class="w-full h-full object-cover">
        </div>
        <h1 class="h1 txt-white text-center md:text-left">¿Ya tienes una cuenta?</h1>
        <button class="sqr-btn red light auto-size w-full md:w-auto">Iniciar Sesión</button>
    </div>

    <div
        class="w-full md:w-[615px] h-auto md:h-[624px] px-[52px] py-[61px] bg-white rounded-[20px] flex-col justify-center items-start gap-[49px] inline-flex">
        <h1 class="h1 text-center md:text-left">Registro</h1>
        <div class="self-stretch h-auto md:h-[361px] flex-col justify-end items-center gap-[46px] flex">
            <div class="self-stretch h-auto md:h-[267px] flex-col justify-start items-start gap-3 flex">
                <div class="self-stretch h-auto flex-col justify-center items-start gap-[25px] flex">
                    <input type="text" placeholder="Nombre"
                        class="input-primary justify-start items-center gap-2 inline-flex">
                    <input type="text" placeholder="Apellidos"
                        class="input-primary justify-start items-center gap-2 inline-flex">
                    <input type="text" placeholder="Correo electrónico"
                        class="input-primary justify-start items-center gap-2 inline-flex">
                    <input type="text" placeholder="Nombre de usuario"
                        class="input-primary justify-start items-center gap-2 inline-flex">
                </div>
            </div>
            <button class="rd-btn orange w-full md:w-auto">Registrarse</button>
        </div>
    </div>
</div>