@import "../../../variables";

:host ::ng-deep .p-component {
  font-family: Parkinsans;
}

.container {
  padding-top: 2rem;

  border-top: 2px solid rgba($orange, 0.3);

  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 1rem;


}

.rd-btn {
  color: $black;
  max-width: none;
}

.list-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
