<app-back></app-back>
<div class="container">
    <p class="h1">Mi perfil</p>
    <hr class="divider">
    <form class="form" action="">
        <div class="div-inputs">
            <input type="text" placeholder="Nombre de usuario" class="input-primary">
            <input type="text" placeholder="Nombre" class="input-primary">
            <input type="text" placeholder="Apellidos" class="input-primary">
            <input type="text" placeholder="Correo electrónico" class="input-primary">
            <input type="text" placeholder="DNI" class="input-primary">
            <input type="text" placeholder="Código postal" class="input-primary">
        </div>
        <input class="sqr-btn auto-size" type="submit" value="Guardar cambios">
    </form>
</div>
