<form action="">
    <p class="h1">Datos personales</p>
    <input class="input-primary" type="text" placeholder="Nombre">
    <input class="input-primary" type="text" placeholder="Apellidos">
    <input class="input-primary" type="email" placeholder="Correo electrónico">
    <input class="input-primary" type="text" placeholder="DNI">
    <input class="input-primary" type="number" placeholder="Código postal">

    <button class="sqr-btn auto-size">Siguiente <img src="../../../../../assets/icons/siguiente.svg" alt=""></button>
</form>
