$body-backround-color: #f5f5f5;
$white: #ffffff;
$red: #F65636;
$orange: #FFAD21;
$orange-hover: #f59712;
$red-hover: #c7462c;
$light-hover: #f9f1f0;
$gray: #243333;
$black: #000;

$disabled-opacity: 0.5;

$light-border: 3px;

// etiquetas
$etiqueta-verde: #98D95A;
$etiqueta-amarilla: #FFAD21;
$etiqueta-roja: #FF7848;
