@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
@import 'variables';

* {
    box-sizing: border-box;

}

body {
    font-family: 'Parkinsans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: $body-backround-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.50px;
}

.h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.50px;
}

.mdm {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.50px;
}

.p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.50px;
}

.txt-red {
    color: $red;
}

.bg-red {
    background-color: $red;
}


.txt-orange {
    color: $orange;
}

.bg-orange {
    background-color: $orange;
}

.txt-black {
    color: black;
}


.txt-white {
    color: $white;
}

.bg-white {
    background-color: $white;
}

.txt-gray {
    color: $gray;
}

.input-primary {
    @extend .mdm;
    width: 100%;
    max-width: 400px;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 3px solid $red;
    box-sizing: border-box;
    color: #000000bf;

    &::placeholder {
        color: #00000080;
    }
}

.rd-btn {
    @extend .h3;
    width: 100%;
    max-width: 300px;
    padding: 12px 20px;
    background: $orange;
    border-radius: 26px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    cursor: pointer;



    color: white;
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;

    &.auto-size {
        width: auto;
        padding: 10px 20px;
    }

    &:hover {
        background: $orange-hover;
    }

    &.red {
        background-color: $red;

        &:hover {
            background-color: $red-hover;
        }
    }

    &.disabled {
        opacity: $disabled-opacity;
        cursor: not-allowed;
    }

}



.sqr-btn {
    @extend .h3;

    height: 50px;
    width: 100%;
    max-width: 300px;
    padding: 12px 20px;
    background: $red;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: none;

    color: $white;
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;

    &.auto-size {
        width: auto;
        padding: 10px 20px;
    }

    &.orange {
        background: $orange;

        &:hover {
            background: $orange-hover;
        }
    }

    &.light {
        background: $white;
        border: $light-border solid $red;
        color: black;

        &:hover {
            background: $light-hover;
            border-color: $red;
        }
    }

    &.light.orange {
        background: $white;
        border: $light-border solid $orange;
        ;
        color: black;

        &:hover {
            background: $light-hover;
            border-color: $orange;
            ;
        }
    }

    &.check::before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url($check) no-repeat center center;
        background-size: contain;

        &.light.check::before {
            background: url($check-light) no-repeat center center;
        }
    }

    &:hover {
        background: $red-hover;
    }

    &.disabled {
        opacity: $disabled-opacity;
        cursor: not-allowed;
    }


}

.item {
    display: flex;
    align-items: center;
    column-gap: 4px;
    width: fit-content;
    line-height: 1;
    cursor: pointer;

    &:not(:last-of-type) {
        margin-bottom: 16px;
    }


}


.radio {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid $red;
    border-radius: 9999px;
    cursor: pointer;

    &:checked::after {
        content: "";
        position: absolute;
        inset: 0;
        width: 11px;
        height: 11px;
        margin: auto;
        border-radius: 9999px;
        background-color: $red;
    }
}

.checkbox {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border: 3px solid $red;
    border-radius: 2px;
    cursor: pointer;

    &.checkbox:checked::after {
        content: "";
        position: absolute;
        top: 2.5px;
        left: 1px;
        width: 12px;
        height: 6px;
        border-bottom: 3px solid $red;
        border-left: 3px solid $red;
        transform: rotate(-45deg);
    }
}