<div class="container">
    <div class="container-login">
        <div class="div-inicio-sesion">

            <form class="form" action="">
                <p class="h1">Inicio de sesión</p>
    
                <div class="div-inputs">
                    <input class="input-primary" type="text" name="email" id="" placeholder="Correo electrónico">
                    <input class="input-primary" type="password" name="contrasena" id="" placeholder="Contraseña">
    
                    <div class="div-cb">
                        <input class="checkbox" type="checkbox" name="recuerdame" id="">
                        <p class="p">Recuérdame</p>
                    </div>
                </div>
    
                <input class="rd-btn p boton-form" type="submit" value="Iniciar sesión">
            </form>
        </div>
        <div class="div-enlace-registro">
            <img src="" alt="">
            <p class="h1">¿No tienes una cuenta?</p>
            <button class="sqr-btn light auto-size">Regístrate</button>
        </div>
    </div>
</div>