<p>pruebas works!</p>
<input type="text" placeholder="username" class="input-primary">
<button class="rd-btn">Login</button>
<button class="rd-btn red">Login</button>
<button class="sqr-btn ">Login</button>
<button class="sqr-btn light">Login</button>
<button class="sqr-btn orange disabled auto-size">Login</button>
<button class="sqr-btn orange light ">Login</button>
<button class="sqr-btn orange light check disabled">Login</button>

<label class="item">
    <input type="checkbox" name="checkbox" value="Option 1" class="checkbox" checked />
    Option 1
</label>
<label class="item">
    <input type="checkbox" name="checkbox" value="Option 2" class="checkbox" />
    Option 2
</label>
<label class="item">
    <input type="checkbox" name="checkbox" value="Option 3" class="checkbox" />
    Option 3
</label>



<label class="item">
    <input type="radio" name="radio" value="Option 1" class="radio" checked />
    Option 1
</label>
<label class="item">
    <input type="radio" name="radio" value="Option 2" class="radio" />
    Option 2
</label>
<label class="item">
    <input type="radio" name="radio" value="Option 3" class="radio" />
    Option 3
</label>
<h1 class="h1">H1 - Heading</h1>
